[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Marek Aufart (aufi)
[access "refs/for/refs/*"]
	read = group user/Marek Aufart (aufi)
	push = group user/Marek Aufart (aufi)
	label-Code-Review = -2..+2 group user/Marek Aufart (aufi)
	label-Verified = -1..+1 group user/Marek Aufart (aufi)
	rebase = group user/Marek Aufart (aufi)
	removeReviewer = group user/Marek Aufart (aufi)
	submit = group user/Marek Aufart (aufi)
[access "refs/heads/*"]
	read = group user/Marek Aufart (aufi)
	create = group user/Marek Aufart (aufi)
	push = +force group user/Marek Aufart (aufi)
	pushMerge = group user/Marek Aufart (aufi)
[access "refs/tags/*"]
	push = +force group user/Marek Aufart (aufi)
	pushTag = group user/Marek Aufart (aufi)
	pushSignedTag = group user/Marek Aufart (aufi)
